*{
box-sizing: border-box;
}

/* .dark-heading{
    color: #171717 !important;

}

.light-heading{
    color:#ffffff !important;
} */

@keyframes pulseDot {
    0%, 100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.4);
    }
}


/* * {
    outline: 1px solid red;
} */

html {
    overflow-x: hidden;
}

body {
    overflow-x: clip;
}